@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.filterContainer {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0.5rem 0;
  .formContainer {
    @include flex-space-between;
    width: 83%;

    div {
      @include flex-space-between;
      flex-direction: column;
      width: 100%;
      margin-right: 0.8rem;
      label {
        font-weight: 500;
        font-size: 1.4rem;
      }
      input,
      select {
        display: inline-block;
        padding: 1rem;
        border: 0.1rem solid $color-primary;
        width: 100%;
        border-radius: 0.5rem;
      }

      input::placeholder {
        font-size: 1.3rem;
        font-weight: bold;
        opacity: 0.4;
        color: $color-placeholder;
      }
    }
  }

  button {
    width: 17%;
    font-weight: bolder;
    height: 3.8rem;
    border-radius: 0.5rem;
    border: none;
    background: $color-btn;
    color: $color-white;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .filterContainer {
    display: block;
    .formContainer {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: 48% 48%;
    }
    button {
      position: static;
      margin: 1rem 0 0 5%;
      width: 18rem;
    }
  }
}
